.social-media {
  position: absolute;
  right: 1rem;
  width: 2rem;
  text-align: center;
  display: flex;
  flex-direction: column;
  bottom: 1rem;
}

.social-media a {
  color: white;
  margin-top: 0.5rem;
  font-size: 1rem;

  & :hover {
    opacity: 0.6;
  }
}

.logo {
  position: absolute;
  top: 4rem;

  & h1 {
    font-size: 3rem;
    font-weight: 100;
  }

  & h5 {
    margin-left: 1.3rem;
    font-weight: 100;
    letter-spacing: 1.5px;
  }
}

@media screen and (max-width: 450px) {
  .logo h1 {
    font-size: 2rem;
    text-align: left;
    margin: 0.5rem;
  }

  .logo h5 {
    font-size: 0.5rem;
    text-align: left;
    margin: 0.5rem;
  }
}
