.wrapper {
  position: relative;
  display: grid;
  grid-gap: 0.2rem;
  // grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  grid-template-columns: 350px;
  grid-auto-rows: 175px;

  & div {
    overflow: hidden;
    // text-align: center;
  }
}

img {
  width: 350px;
  height: 175px;
  border: 2px solid black;
}

.project {
  position: relative;

  .content-overlay {
    position: absolute;
    top: -175px;
    left: 0;
    padding: 3rem;
    width: 350px;
    height: 175px;
    background: black;
    opacity: 0.8;
    transition: all 0.4s;
    text-align: center;
    & a {
      color: white;
      font-size: 2rem;
      margin: 2rem;

      &:hover {
        opacity: 0.7;
      }
    }
  }

  &:hover {
    .content-overlay {
      position: absolute;
      top: 0;
      left: 0;
      width: 350px;
      height: 175px;
      background: black;
      opacity: 0.7;
      transition: all 0.4s;
    }
  }
}
