* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

h1 {
  font-weight: 100;
  letter-spacing: 2px;
}

p {
  font-weight: 100;
  letter-spacing: 1px;
}
.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: black;
  z-index: 5;
  opacity: 0.9;
}

.container {
  position: absolute;
  width: 100%;
  flex-direction: column;
  min-height: 120vh;
  text-align: center;
  background: url(../images/background.jpeg) no-repeat center center/cover;
  z-index: 5;
}

.content {
  position: relative;
  top: 2rem;
  margin: 0 auto;
  // display: flex;
  flex-direction: column;
  min-height: 70vh;
  padding: 1rem;
  max-width: 750px;
  text-align: left;
  color: white;
  border: 1px solid #2d2d2d;
  border-radius: 30px;
  z-index: 10;
  animation: fadeIn 1s;
}

@media screen and (max-width: 800px) {
  .container {
    position: absolute;
    width: 100%;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    min-height: 120vh;
    text-align: center;
  }

  .content {
    position: relative;
    margin: 0 auto;
    display: flex;
    margin-top: 3rem;
    padding: 1rem;
    min-height: 70vh;
    width: 450px;
    text-align: left;
    color: white;
    border: 1px solid #2d2d2d;
    overflow: auto;
  }
}

@media screen and (max-width: 450px) {
  .container {
    position: absolute;
    width: 100%;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    min-height: 150vh;
    text-align: center;
  }

  .content {
    position: relative;
    margin: 0 auto;
    display: flex;
    margin-top: 3rem;
    padding: 1rem;
    min-height: 70vh;
    width: 300px;
    text-align: left;
    color: white;
    border: 1px solid #2d2d2d;
    overflow: auto;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
